WindowsFormsApplication1/bin/Debug/Dataset.bin
WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.exe
WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
WindowsFormsApplication1/obj/Debug/
